海报生成器.n8n
{
  "updatedAt": "2026-01-20T08:51:26.000Z",
  "createdAt": "2026-01-20T08:51:26.920Z",
  "id": "BBwVqSf-1vrYNsbldRomh",
  "name": "海报生成器",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "海报生成器",
        "formDescription": "输入文案内容、自动生成海报",
        "formFields": {
          "values": [
            {
              "fieldLabel": "主标题",
              "requiredField": true
            },
            {
              "fieldLabel": "副标题",
              "requiredField": true
            },
            {
              "fieldLabel": "辅助信息"
            },
            {
              "fieldLabel": "海报风格",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "手写风格"
                  },
                  {
                    "option": "3D风格"
                  },
                  {
                    "option": "极简风格"
                  },
                  {
                    "option": "赛博朋克风格"
                  },
                  {
                    "option": "复古风格"
                  },
                  {
                    "option": "霓虹风格"
                  },
                  {
                    "option": "扁平风格"
                  },
                  {
                    "option": "涂鸦风格"
                  },
                  {
                    "option": "书法风格"
                  },
                  {
                    "option": "像素风格"
                  },
                  {
                    "option": "自然风格"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -624,
        1040
      ],
      "id": "9b9b6946-874b-4747-b19d-54bc9b53c96f",
      "name": "On form submission",
      "webhookId": "e3e380c9-e1a0-4841-8efa-2fc82a8c705f"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.text }}",
        "options": {
          "quality": "high",
          "size": "1024x1536"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        1040
      ],
      "id": "e9e019c1-8b3c-4ffa-b6b0-9fbf50c395bc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DdkN7jyCK3bNbW1u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=主标题：{{ $('On form submission').item.json['主标题'] }}\n副标题：{{ $('On form submission').item.json['副标题'] }}\n辅助信息：{{ $('On form submission').item.json['辅助信息'] }}\n风格要求： {{ $json.data[0].Prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "# Role\n你是一个文案视觉转化助手，专注于将结构化的文案（主标题、副标题、辅助信息）转化为适合生成海报图像的中文Prompt。\n\n## Skills\n### Skill 1: 整合文案内容\n- 将用户提供的文案内容（包括：主标题、副标题、辅助信息）整合成一段完整的图像场景描述。\n- 确保风格连贯、自然，具备画面感。\n- 可适当补充背景、构图、氛围、人物或道具细节，以增强视觉效果。\n\n### Skill 2: 保持核心信息\n- 保持文案的核心信息不变，同时优化语言节奏与情绪表达，使其更具吸引力与视觉指导性。\n- 输出为一段自然流畅的描述，不分行、不列点、不重复原文。\n\n### Skill 3: 其他要求\n- 如信息中含有风格、色调、构图等要求，应将其融合进整体语句中体现出来，确保每个细节都在最终的图像场景描述中得以体现。"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        272,
        1040
      ],
      "id": "8a722306-e93b-4a1f-9b03-675c21fede62",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        352,
        1264
      ],
      "id": "5167b1ce-ddf2-49a0-980b-9b4d4c35d642",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "qoZVHSPqzp7DQ5OV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "3D风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b98714f9-8e5d-4330-be71-6c02984f1e8d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "93a8ca57-f93e-4d93-9056-ab0f61e8f2cf",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "手写风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "463f0f87-8190-4320-ae5b-0c28971ef1cb",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "极简风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "affccdb4-65ea-4eb0-8c35-6ccb1edf2a59",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "赛博朋克风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cfbdd8a-9a5c-442c-be19-76e81da2ba51",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "复古风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47f69a08-4fa1-4420-bdb2-04febb894f6a",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "霓虹风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23f83f39-da5b-46b1-a434-11e0c1bfffc0",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "扁平风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7bfd938d-900d-494e-b04c-ba547c7cd553",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "涂鸦风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a31c8888-cc7d-4586-b750-2e0ee1b2aa80",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "自然风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc1c37f2-3981-4623-b42a-679cfe8d25ed",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "像素风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "249b68ac-72dd-4ed7-a880-3844bc2bd166",
                    "leftValue": "={{ $json['海报风格'] }}",
                    "rightValue": "书法风格",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        864
      ],
      "id": "dcc0a4ff-8757-433d-8a6f-dbe44cd2719f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        1040
      ],
      "id": "fd5e6b40-abe2-4740-a310-a403ce3d116b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./n8ndata/ {{ $('On form submission').item.json[\"主标题\"] }}-{{ $('On form submission').item.json[\"海报风格\"] }}.png",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        864,
        1040
      ],
      "id": "4cc9cb89-5801-4f81-b7ba-96e6e40d0e37",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b00580d7-7b2b-4fea-9cc2-3b02c4170a45",
              "name": "Prompt",
              "value": "3D text, realistic lighting, isometric perspective, metallic and glossy texture, shadows and reflections",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        32
      ],
      "id": "1ed5ddaf-0fcf-4364-83fc-2bf7127686c7",
      "name": "3D风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "hand-drawn lettering, sketch style, pastel colors, pencil texture, childlike, artistic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        240
      ],
      "id": "a55b6999-856b-49c3-a989-7e79522c79cd",
      "name": "手写风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "minimalist text poster, clean typography, monochrome, white background, elegant, modern layout",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        432
      ],
      "id": "3203c07b-b43d-4498-81d6-948fe95f4447",
      "name": "极简风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "cyberpunk style, neon text, futuristic city background, glowing letters, high contrast, purple and blue",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        832
      ],
      "id": "877f4d76-4f5c-4616-9a35-7575faecd92f",
      "name": "赛博朋克风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "vintage poster, retro text, old paper texture, grainy, warm faded tones, classic design",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1232
      ],
      "id": "b4d0fdd9-3bca-451f-b031-32419c27f806",
      "name": "复古风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "neon text, dark background, glowing outline, electric colors, light tubes effect",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1632
      ],
      "id": "660d388f-0606-4317-856f-f22e10d5e58f",
      "name": "霓虹风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "flat design poster, bold solid colors, simple shapes, clean typography, modern look",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        2032
      ],
      "id": "8cb60631-5939-49c7-8eef-8ae5d9e71f27",
      "name": "扁平风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "graffiti text, urban wall background, spray paint texture, street art style, bold and wild",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        640
      ],
      "id": "afa5f82f-b77c-4a0c-af38-8bf49f13c4f8",
      "name": "涂鸦风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "organic nature-themed text, leaves and flowers integrated, wooden texture, eco-friendly colors",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1040
      ],
      "id": "d5f80b55-d9f2-4054-8bff-ba64e257027c",
      "name": "自然风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "pixel art text, 8-bit style, retro game UI, colorful blocky letters, old computer feel",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1440
      ],
      "id": "9f3a24af-6e8b-4a0a-b3bc-97df9c5d04ae",
      "name": "像素风格"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "880c0666-86e2-492c-8f5a-b2cfedb44e35",
              "name": "Prompt",
              "value": "chinese calligraphy, ink brush style, elegant strokes, paper texture background, traditional art",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1840
      ],
      "id": "72609feb-9f78-4680-8af2-ef1f0c4dd8b3",
      "name": "书法风格"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "3D风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "手写风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "极简风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "赛博朋克风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "复古风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "霓虹风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "扁平风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "涂鸦风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "自然风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "像素风格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "书法风格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3D风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "手写风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "极简风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "赛博朋克风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "复古风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "霓虹风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "扁平风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "涂鸦风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "自然风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "像素风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "书法风格": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dacc9e9f-f8ff-44e2-a6aa-2ec288757751",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-20T08:51:26.947Z",
      "createdAt": "2026-01-20T08:51:26.947Z",
      "role": "workflow:owner",
      "workflowId": "BBwVqSf-1vrYNsbldRomh",
      "projectId": "02lIlzAN8YOio7Hr",
      "project": {
        "updatedAt": "2026-01-19T13:04:34.392Z",
        "createdAt": "2026-01-19T03:38:28.619Z",
        "id": "02lIlzAN8YOio7Hr",
        "name": "mon mon <jh070711@126.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "47358cc2-2c83-4c19-88f4-aa1569206629",
        "projectRelations": [
          {
            "updatedAt": "2026-01-19T03:38:28.620Z",
            "createdAt": "2026-01-19T03:38:28.620Z",
            "userId": "47358cc2-2c83-4c19-88f4-aa1569206629",
            "projectId": "02lIlzAN8YOio7Hr",
            "user": {
              "updatedAt": "2026-02-28T08:20:25.000Z",
              "createdAt": "2026-01-19T03:38:27.810Z",
              "id": "47358cc2-2c83-4c19-88f4-aa1569206629",
              "email": "jh070711@126.com",
              "firstName": "mon",
              "lastName": "mon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-19T13:05:03.557Z",
                "personalization_survey_n8n_version": "2.3.6"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eBkaKSkToEStSH3fy_3Hd",
                "userActivatedAt": 1768834250836,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769238789006
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}